body
{
font-size:75%;
font-family:verdana,arial,'sans serif';
background-repeat:repeat-x;
background-color:#f5f4f0;
color:#b08d44;
margin: 0 auto;
}

h1 {font-size:200%;}
h2 {font-size:140%;}
h3 {font-size:110%;}

table {font-size:100%;}
th {background-color:#ADD8E6;}
td {vertical-align:top;}

tr.active {background-color:#aaeeaa;}

ul {list-style:circle;}
ol {list-style:decimal;}

/* unvisited link */
a:link {
    color: #b08d44;
}

/* visited link */
a:visited {
    color: #b08d44;
}

/* mouse over link */
a:hover {
    color: #cb8571;
}

/* selected link */
a:active {
    color: #b08d44;
}

.footer {color:#b08d44;font-style:italic;}